.img-container{
	display: inline-block;
	margin-left:00px;
	margin-top: 00px;
}

.user-container{
	display:inline-block;
	margin-left: 30px;
	color: grey;
}


.form-container{
	display: inline-flex;
	
}

#userid {
	width:300px;
	display: inline;
}

.submit {
	margin-left: 30px;
	display: inline-block;
}

.toplevel {
	margin-top: 50px;
	margin-left: 60px;
}


.rows{
	margin-top: 30px;
}


.para{
	margin-bottom:0px; 
	margin-top:0px;
}

.printname {
	font-size: 20px;
	color: #007bff;
}